html{
    font-family: 'Bebas Neue', cursive;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.navbar{
    border-radius:0px;
    background-color: rgba(0, 71, 189, 0.8) !important;
    padding-right: 30px;
    color: white !important;
}
.navbar-brand{  /*TITLE: Food, LLC*/
    font-size: 35px;
    color: white;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
    /*font-family:Arial, Helvetica, sans-serif;*/
}
.navbar-brand:hover{
    color: black;
}
.navbar-toggle{
    border:2px solid black;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.icon-bar{
    background-color: blue;
}
.nav{
    margin:0;
    padding:0;
}
.navbar-nav{    /*Menu Items*/
    font-size:30px;
    text-align: center;
    margin:0;
    padding:0;
}
.navbar-nav .nav-link{
    color: white !important;
}

li{
    box-sizing: border-box;
    width: 100%;
}
.menu-item{
    padding:0;
    margin:0;
    width:100%;
    background-color: white;
    border-bottom: 1px solid black;
    color:black;
    display:block;
}
.menu-item:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(0,0,0,0.4);
}

.main-title{    /*Our Menu*/
    margin-bottom:15px;
    text-align:center;
    color:rgba(71, 71, 71, 0.856);
    font-size: 35px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
.footer{    /*Our Menu*/
    margin-bottom:15px;
    text-align:center;
    color:rgba(71, 71, 71, 0.856);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.row{   /*Content box*/
    margin: 20px;
}
.content-box{
    margin:20px;
    width: auto;
    height: auto;
    color:black;
    background-color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-weight:500;
    padding:20px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #ccc;
}
.item-name{ /*Chicken, Beef, Sushi*/
    text-align:center;
    font-size:25px;
    font-weight:bold;
}
